# Ignore node_modules
node_modules/

# Ignore build output
build/

# Ignore .env files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
